<tr id="client_<%= client.id %>" data-name="<%= client.name %>">
  <td class="lead"><%= client.name %></td>
  <td>
    <div class="actions">
      <% if client.balance >= 0 %>
        <%= link_to admin_client_charges_path(client), id: "pos_balance" do %>
          <small>Saldo a favor: </small>
          <span id="positive_balance" class="lead">
            <%= number_to_currency client.balance %>
          </span>
        <% end %>
      <% else %>
        <%= link_to admin_client_charges_path(client), id: "neg_balance" do %>
          <small>Saldo: </small>
          <span id="negative_balance" class="lead">
            <%= number_to_currency client.balance %>
          </span>
        <% end %>
      <% end %>

      <%= link_to admin_client_charges_path(client), class: "btn btn-default btn-xs" do %>
        <span class="glyphicon glyphicon-usd"></span>  Movimientos
      <% end %>
      <%= link_to admin_client_path(client), class: "btn btn-default btn-xs" do %>
        <span class="glyphicon glyphicon-search"></span>  Detalles
      <% end %>
    </div>
  </td>
</tr>
