<div class="col-sm-9 col-sm-9">
  <h1><%= client.name %></h1>

  <div class="well">
    <dl>
      <dt>Nombre</dt>
      <dd><%= client.name %></dd>
      <dt>Responsable</dt>
      <dd><%= client.responsible %></dd>
      <dt>Correo electrónico</dt>
      <dd><%= client.email %></dd>
      <dt>Teléfono</dt>
      <dd><%= client.phone %></dd>
      <dt>Descripción</dt>
      <dd><%= client.description %></dd>
      <dt>Horas disponibles de Sala de Juntas</dt>
      <dd><%= client.meeting_office_hours %></dd>
      <dt>Fecha de Ingreso</dt>
      <dd><%= client.entry_date %></dd>
    </dl>

    <%= link_to "#edit_client_modal", 'data-toggle' => 'modal', class: "btn btn-default btn-xs" do %>
      <span class="glyphicon glyphicon-pencil"></span> Editar
    <% end %>

    <div class="modal fade" id="edit_client_modal" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Editar cliente</h4>
          </div>
          <div class="modal-body">
            <%= render partial: 'form', locals: { client: client } %>
          </div>
        </div>
      </div>
    </div>

    <%= link_to admin_client_path(client), method: :delete, class: "btn btn-danger btn-xs", data: { confirm: "Are you sure?" } do %>
      <span class="glyphicon glyphicon-trash"></span>  Eliminar
    <% end %>
    <%= link_to "Atrás", admin_clients_path %>
  </div>
</div>
