<%= form_for([:admin, service], remote: true, html: {role: :form, 'data-model' => 'service'}) do |f| %>

  <div class="form-group">
    <%= f.label :name, "Nombre", class: 'control-label' %><br>
    <%= f.text_field :name, class: 'form-control',
          data: { 'bv-notempty' => true, 'bv-notempty-message' => 'No puede estar vacío' } %>
  </div>

  <div class="form-group">
    <%= f.label :amount, "Tarifa", class: 'control-label' %><br>
    <%= f.number_field :amount, class: 'form-control', min: 0,
        data: { 'bv-notempty' => true, 'bv-notempty-message' => 'No puede estar vacío', 'numeric-separator' => true } %>
  </div>

  <div class="form-group">
    <%= f.label :description, "Descripción", class: 'control-label' %><br>
    <%= f.text_field :description, class: 'form-control',
          data: { 'bv-notempty' => true, 'bv-notempty-message' => 'No puede estar vacío' } %>
  </div>

  <div class="actions">
    <button type="submit" class="btn btn-default" id="modal_ok">
      <span class="glyphicon glyphicon-ok"></span> Guardar
    </button>
  </div>

<% end %>
