<%= form_for [:admin, @transaction], html: { class: "form-inline", role: "form" } do |f| %>
<td>
  <div class="form-group">
    <%= f.label :name, class: 'control-label' %>
    <%= f.text_field :name, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

  <div class="form-group">
    <%= f.label :description, class: 'control-label' %>
    <%= f.text_field :description, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

  <div class="actions">
    <button type="submit" class="btn btn-default">
      <span class="glyphicon glyphicon-ok"></span> Guardar
  </div>
</td>
<% end %>
