<tr id="location_<%= location.id %>">
  <td><%= location.name %></td>
  <td><%= location.description %></td>
  <td>
    <div class="actions">
      <%= link_to "#edit_location_modal_#{location.id}", 'data-toggle' => 'modal', class: "btn btn-default btn-xs" do %>
        <span class="glyphicon glyphicon-pencil"></span> Editar
      <% end %>
      <%= link_to admin_location_path(location), method: :delete, remote: true, class: "btn btn-danger btn-xs", data: { confirm: 'Estas seguro?' } do %>
        <span class="glyphicon glyphicon-trash"></span> Eliminar
      <% end %>
    </div>

    <div class="modal fade" id="edit_location_modal_<%= location.id %>" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Editar espacio</h4>
          </div>
          <div class="modal-body">
            <%= render 'form', location: location %>
          </div>

        </div>
      </div>
    </div>
  </td>
</tr>
