<script>
  $(document).ready(function () {
    sortTable("#charges_table", "date");
  });
</script>


<h1>Movimientos del cliente <%= @client.name %>
  <span style="white-space:nowrap;">
    <%= link_to '#new_charge_modal', 'data-toggle' => 'modal', class: "btn btn-primary" do %>
      <span class="glyphicon glyphicon-plus"></span> Nuevo Cargo
    <% end %>

    <%= link_to '#new_payment_modal', 'data-toggle' => 'modal', class: "btn btn-primary" do %>
      <span class="glyphicon glyphicon-plus"></span> Nuevo Pago
    <% end %>
  </span>
</h1>

<table class="table table-hover" id="charges_table">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Concepto</th>
      <th>Cargo</th>
      <th>Pago</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "charge", collection: @charges, locals: { client: @client } %>
    <%= render partial: "admin/payments/payment", collection: @payments, locals: { client: @client } %>
  </tbody>
</table>

<div class="modal fade" id="new_charge_modal" tabindex="-1" role="dialog"
 aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Nuevo cargo</h4>
      </div>
      <div class="modal-body">
        <%= render partial: "form", locals: { client: @client, charge: @charge } %>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="new_payment_modal" tabindex="-1" role="dialog"
 aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Nuevo Pago</h4>
      </div>
      <div class="modal-body">
        <%= render partial: "admin/payments/form", locals: { client: @client, payment: @payment } %>
      </div>

    </div>
  </div>
</div>

<% content_for :sidebar do %>
  <div id="user-balance">
    <%= render partial: "sidebar/user_balance", locals: { client: @client } %>
  </div>
<% end %>
