<%= form_for [:admin, @transaction],  html: { class: "form-horizontal", role: "form" }, remote: true do |f| %>

<% if f.object.errors.any? %>
<div id="error_explanation">
  <% f.object.errors.full_messages %>
  <div class="alert alert-danger">
    <p class="alert-link">Debe contener concepto, monto, fecha y tipo de transacción</p>
  </div>
</div>
<% end %>
<div class="row">
  <div class="col-xs-3">
    <%= f.label :type_of_transaction_1, "Ingreso", class:  "control-label" %>
    <%= f.radio_button(:type_of_transaction, value=1, class: "radio-inline") %>
    <%= f.label :type_of_transaction_2, "Egreso", class: "control-label" %>
    <%= f.radio_button(:type_of_transaction, value=2, class: "radio-inline") %>
  </div>
  <div class="form-inline col-xs-4">
    <%= f.label :amount, "Cantidad", class: "control-label" %>
    <%= f.number_field :amount, min: 1, class: "form-control" %>
  </div>
  <div class="form-inline col-xs-4">
    <%= f.label :date, "Fecha", class: "control-label" %>
    <%= f.date_field :date, class: "form-control" %>
  </div>
  <% unless f.object.new_record? %>
  <div class="col-xs-1">
    <%= link_to admin_transaction_path(@transaction), method: :delete, class: "btn btn-danger btn-xs", data: { confirm: "Are you sure?" } do %>
      <span class="glyphicon glyphicon-trash"></span>
    <% end %>
  </div>
  <% end %>
</div>


<div class="form-group">
  <%= f.label :concept, "Concepto", class: "control-label" %>
  <%= f.text_field :concept, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :commentary, "Comentario", class: "control-label" %>
  <%= f.text_area :commentary, class: "form-control"  %>
</div>


<div class="form-group">
  <div class="col-sm-offset-9 col-sm-0">
    <button type="submit" class="btn btn-default">
      <span class="glyphicon glyphicon-ok"></span> Guardar
    </button>
    o
    <%= link_to "cancelar", admin_transactions_path %>
  </div>
</div>
<% end %>
