<% if f.object.errors.any? %>
<div id="error_explanation">
  <% f.object.errors.full_messages %>
  <div class="alert alert-danger">
    <p class="alert-link"></p>
  </div>
</div>
<% end %>


<div class="form-group">
  <%= f.label :concept, "Concepto", class: "col-sm-2 control-label" %>
  <div class="col-sm-4">
    <%= f.text_field :concept, class: "form-control"  %>
  </div>
</div>

<div class="form-group">
  <%= f.label :commentary, "Comentario", class: "col-sm-2 control-label" %>
  <div class="col-sm-4">
    <%= f.text_field :commentary, class: "form-control"  %>
  </div>
</div>

<div class="form-group">
  <%= f.label :amount, "Monto", class: "col-sm-2 control-label" %>
  <div class="col-sm-4">
    <%= f.number_field :amount, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :date, "Fecha", class: "col-sm-2 control-label" %>
  <div class="col-sm-4">
    <%= f.date_field :date, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :type_of_transaction, "Ingreso", class: "col-sm-2 control-label" %>
  <div class="col-sm-4">
    <%= f.radio_button(:type_of_transaction, value=1, class: "radio-inline") %>
  </div>
</div>
<div class="form-group">
  <%= f.label :type_of_transaction, "Egreso", class: "col-sm-2 control-label" %>
  <div class="col-sm-4">
    <%= f.radio_button(:type_of_transaction, value=2, class: "radio-inline") %>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-4">
    <% if f.object.new_record? %>
    <%= f.submit "Crear", class: "btn btn-primary" %>
    <% else %>
    <%= f.submit "Guardar cambios", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
