<h1>Ingresos y Egresos</h1>


<button type="button" onclick = "this.style.visibility='hidden', loading.style.visibility='visible'"
 class="btn btn-primary btn-xs" data-toggle="collapse" data-target="#demo">
  Nuevo movimiento
</button>

<div id="demo" class="collapse well"><%= render partial: "form", locals: { admin: @transaction }%></div>
<h2>Movimientos</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Concepto</th>
      <th>Comentario</th>
      <th>Fecha</th>
      <th>Cantidad</th>
      <th>Ingreso</th>
      <th>Egreso</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.concept %></td>
        <td><%= transaction.commentary %></td>
        <td><%= transaction.date %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.ingreso(transaction) %></td>
        <td><%= transaction.egreso(transaction) %></td>
        <td id="edit"><%= link_to "Editar", edit_admin_transaction_path(transaction), remote: true %></td>
      </tr>
    <% end %>
  </tbody>
</table>
